<div class="container">

<div class="row">

       <div class="col-sm-3 cornerrigth1">
          <%if user_signed_in?%>  
            <a class="logout" href="/equipments">List Equipment |</a>                    
          <%end%>
       </div><!-- 2da column--> 
       <div class="col-sm-12 cornerrigth">
        
          <%if user_signed_in?%> 
             foto        
             <class="logout"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
             <class="cornerrigth"><strong>User: </strong> <%=current_user.name%></a>
          <%else%>
             <a class="logout" href="/users/sign_in">Login |</a>
             <a class="logout" href="/users/sign_up">Sign up</a>
          <%end%>  
       </div><!-- 3er column--> 
   </div><!-- first row close-->



      <div class="row picturehome">
          <img class="imgcenter" src="logohome.png">
     </div>	<!--Close second row-->

      
      <div class="row textlink">
      
     </div><!--Close 3er row-->
</div> <!--Close container-->