// Place all the styles related to the equipments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid{
  background-color: white;


}
.row{
	background-color: white
}
.currentcol{
	margin: 15px;
	height: 450px;
    overflow-y: auto;
}
.rentalcol{
	margin: 15px;
	height: 450px;
    overflow-y: auto;
}
.maintecol{
    margin: 15px;
    height: 450px;
    overflow-y: auto;
}
.equipmentcol{
	margin: 15px;
	margin: 15px;
    height: 450px;
    overflow-y: auto;
	background-color: rgba(173, 172, 172, 0.16);


}
.datailcol{
	margin-left: 25px;
	border-bottom: solid white;
}
.audiocol{
  margin: 9px;
  height: 315px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
}
.investmentcol{
  margin: 9px;
  height: 80px;
  width: 280px;

  overflow-y: auto;
  background-color: rgba(139, 195, 74, 0.80);
}
.videocol{
  margin: 9px;
  height: 315px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
	
}
.lightcol{
  margin: 9px;
  height: 315px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
	
}
.stagingcol{
  margin: 9px;
  height: 315px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
	
}
.itcomputercol{
   margin: 9px;
   height: 315px;
   overflow-y: auto;
   background-color: rgba(173, 172, 172, 0.16);
}
.col-sm-1{
	/*border-style:dashed;*/
	margin-right: 15px;

	background-color: rgba(173, 172, 172, 0.16);
	text-align: center;
}
.col-sm-2{
	/*border-style:dashed;*/
	margin-right: 15px;

	background-color: rgba(173, 172, 172, 0.16);
	text-align: center;
}
.col-sm-3{
	/*border-style:dashed;*/
	margin-right: 15px;

	background-color: rgba(173, 172, 172, 0.16);
    text-align: center;

}
.cornerrigth3{
	font-size: 13px;
    background-color: white;
    float: right;
    margin-right: 35px;
    margin-top: 15px;
}
.cornerrigth2{
	font-size: 13px;
    background-color: white;
    float:right;
    margin-top: 10px;

}
.cornerrigth{
	font-size: 13px;
    background-color: white;
    float: right;
    margin-right: 41px;
    margin-top: 0px;
    
    

}
.cornerleft1{
	font-size: 13px;
	float: left;
	margin-top: 25px;
    background-color: white;
	

	margin-left: 25px;
}
.cornerleft1especial{
    font-size: 13px;
    background-color: white;
    float: left;
	margin-top: 25px;
	text-align: left;

}
.cornerrigth4{
	font-size: 13px;
    background-color: white;
    float:right;
    margin-right: 35px;
    margin-top: 10px;
}
.col-sm-4{
	
	/*border-style:dashed;*/
	margin-right: 15px;
	background-color: rgba(173, 172, 172, 0.42);
	text-align: center;


}
.imgtop{
	width: 100%;
}
.letterlistequipment2{
	margin-top: 25px;
	font-size: 13px;
	text-align: left;
}
.letterlistequipment{
	font-size: 11px;
	text-align: left;
}
.letter{
	font-size: 11px;
	float: left;
}
.letterlistequipment1{
	font-size: 15px;
	text-align: right;
	float:right;
}

.letterlistequipment1especial{
  font-size: 15px;
  text-align: right;
  float:right;
  margin-right: 38px;
}
.letterlistequipment1especial2{
  font-size: 15px;
  text-align: right;
  float:right;
  margin-left: -44px;
}

.letterlistequipment1especial3{
    font-size: 15px;
    text-align: right;
    float: left;
    margin-left: 172px;
    margin-top: -19px;
}
.letterlistequipment1especial4{
    font-size: 15px;
    text-align: right;
    float: left;
    margin-left: 162px;
    margin-top: -21px;
}





ul{
	list-style-type: none;
	padding-left: 0;
}
.addequip{
	margin-bottom: 20px;
    text-align: center;
    background-color: white;
}
.updateequi{
    margin-top: 15px;

}
.deleteequi{
    margin-top: 15px;

}
.addmainte{
   margin-top: 15px;
}
.addrental{
   margin-top: 15px;	
}
.sendemail{
   margin-top: 15px;
}
.letterred{
  color: red;
}
.letterblue{
 color: #2D75AB;
}
.letterorange{
color:rgba(255, 122, 0, 0.91);;
}
.equipplaceholder{
   width:120px;
   height: 90px; 
   float:right;
   margin-top: 1px;
}
.corneruserimg{
	font-size: 13px;
    background-color: white;
    float:right;
}
.imgfooter{
	width: 100%;

	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
	height: 50px;
}
.updatedeleteequip{

}
.cancelacount{
   float:left;
    margin-left: -642px;
    margin-top: 14px;
}
.cancelacount1{
   float:left;
    margin-left: -100px;
    margin-top: 44px;
}



