.imgtop{
	width: 100%;
}
.field{

	margin-left: auto;
	margin-right: auto;
	width: 6em;
}
.fieldother{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 6em;
}
.actions{

	margin-left: auto;
	margin-right: auto;
	width: 6em;
}
.loginlinkhome{
	text-align: center;
}
.imgfooter{
	width: 100%;
}

