// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	background: #B9B8B8;
}
.imgcenter{
	width:100%;
}
.textlink{
	text-align: center;
}
.log{
	font-size: 25px;
}
